node_modules
backend/public/app/*
!backend/public/app/.gitkeep
backend/public/docs/*
!backend/public/docs/.gitkeep
backend/dist
.vite
app/coverage
backend/coverage
backend/.env

demo/form-backend/uploads/*
!demo/form-backend/uploads/.gitkeep
demo/postgres/data
demo/postgres-keycloak/data

# IntelliJ IDEA
.idea
*.iml
