.content {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  text-transform: uppercase;
}

.error-icon {
  font-size: 10rem;
}
